body {
  text-align: center;
  /* padding: 5%; */
}
.container {
    background-color: dimgray;
    width: 80%;
    height: 400px;
    margin: auto;
    /* padding: 5% 10%; */

}
#title{
    color: aliceblue;
    padding: 5% 5%;
}
.countdown {
  color: aliceblue;
  font-size: 45px;
  font-weight: 600;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
