@font-face {
  font-family: RedHat;
  font-weight: normal;
  src: url("assets/font/RedHatText-Regular.ttf");
}
@font-face {
  font-family: RedHatBold;
  font-weight: bold;
  src: url("assets/font/RedHatText-Bold.ttf");
}
body {
  font-family: "RedHat";
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 95vh;

  background-image: url("assets/joanna-kosinska-h2O_jHvjfIM-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
#title {
  color: #fff;
  padding: 5% 5%;
  font-size: 40px;
}
.countdown {
  color: hsl(345, 95%, 68%);
  margin-bottom: 40%;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
}
.col {
  width: 140px;
  display: flex;
  flex-direction: column;

  margin: 5px;
}
.col a {
  width: 95%;
  margin: auto;
  margin-bottom: 10px;
}
.digit {
  font-size: 90px;
  font-family: "RedHatBold";
  background-color: hsl(236, 21%, 26%);
  border-radius: 10px;
}
.text {
  color: hsl(238, 19%, 74%);
  /* width: 60%; */
  font-size: 20px;
  letter-spacing: 5px;
}

.attribution {
  font-size: 14px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* ---------- Media Breakpoints ---------- */
@media (max-width: 700px) {
  #title {
    font-size: 35px;
  }
  .col {
    width: 100px;
  }
  .digit {
    font-size: 70px;
  }
  .text {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  #title {
    font-size: 25px;
  }
  .col {
    width: 70px;
  }
  .digit {
    font-size: 50px;
  }
  .text {
    font-size: 10px;
    letter-spacing: 2px;
  }
}
